<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ego.mapper.SearchItemMapper" >
<select id="getItemList" resultType="searchItem">
	 SELECT 
	t1.id,
	t1.title,
	t1.sell_point,
	t1.price,
	t1.image,
	t3.`name` category_name,
	t2.`item_desc`
FROM
  tb_item t1 
  LEFT JOIN tb_item_desc t2 
    ON t1.id = t2.`item_id` 
  LEFT JOIN tb_item_cat t3 
    ON t1.`cid` = t3.`id` 
WHERE t1.`status` = 1 
</select>

<select id="getItemById" resultType="searchItem" parameterType="Long">
	 SELECT 
	t1.id,
	t1.title,
	t1.sell_point,
	t1.price,
	t1.image,
	t3.`name` category_name,
	t2.`item_desc`
FROM
  tb_item t1 
  LEFT JOIN tb_item_desc t2 
    ON t1.id = t2.`item_id` 
  LEFT JOIN tb_item_cat t3 
    ON t1.`cid` = t3.`id` 
WHERE t1.`status` = 1  and t1.id = #{id}

</select>

</mapper>